body{
    background: #aaa;
}


/* uciekamy od definiowania na stałe wysokości w pikselach
zamiast tego określamy ją w procentach */

main{ 
    width: 100%;
}

header
{
    background: lightblue;
}


nav{
    display: flex;
    flex-direction: column;
}


nav a{
    margin: 0 5px;
    flex-shrink: 10;
}


section{/*panel lewy*/
    display: flex;
    flex-direction:  column-reverse;
}


aside{
    width: 150px;
    background: lightcoral;
    order: 2;
}


article{
    background: lightseagreen;
    order: 1;
}


#right-panel{
    display: none;
    background: linen ;
}


@media(min-width: 550px){
    section{
        flex-direction: row;
    }
    aside{
        order: unset;/* oznacza ża jak innny element ustawił order to przywróć go do wartości domyślnej*/
    }
    article{
        order: unset;/* oznacza ża jak innny element ustawił order to przywróć go do wartości domyślnej*/
    }
}
@media(min-width:900px){
    nav{
        flex-direction: row;
        justify-content: space-between;
    }
    #right-panel{
        width: 150px;
        display:block;
    }
}


@media(min-width:550px) and (max-width:899px){

}

@media(min-width:900px) and (max-width:1190px){

}

@media(min-width:1200px){

}








